<h1>Index page Picture</h1>
<table>
  <tr>
    <% @picture.each do |picture| %>
    <td> <%= image_tag picture.image.url(:medium)%></td>
    <td><%= picture.name %></td>
    <td> <a href="<%= album_picture_path(@album,picture)%>" data-confirm="Are you sure?" data-method="delete">Destroy Comment</a>
    </td>
  </tr>
    <% end %>
</table>

  
